<html>
<head><style type='text/css'>
body, table {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12;
}

table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

a {
    text-decoration: none;
}

.title {
    font-style: italic;
}

.selected {
    background-color: #ffffcc;
}

.status_done {
    background-color: #eeffee;
}

.status_passed {
    background-color: #ccffcc;
}

.status_failed {
    background-color: #ffcccc;
}

.breakpoint {
    background-color: #cccccc;
    border: 1px solid black;
}
</style><title>Test suite results</title></head>
<body>
<h1>Test suite results </h1>

<table>
<tr>
<td>result:</td>
<td>passed</td>
</tr>
<tr>
<td>totalTime:</td>
<td>40</td>
</tr>
<tr>
<td>numTestTotal:</td>
<td>6</td>
</tr>
<tr>
<td>numTestPasses:</td>
<td>6</td>
</tr>
<tr>
<td>numTestFailures:</td>
<td>0</td>
</tr>
<tr>
<td>numCommandPasses:</td>
<td>0</td>
</tr>
<tr>
<td>numCommandFailures:</td>
<td>0</td>
</tr>
<tr>
<td>numCommandErrors:</td>
<td>0</td>
</tr>
<tr>
<td>Selenium Version:</td>
<td>2.53</td>
</tr>
<tr>
<td>Selenium Revision:</td>
<td>.1</td>
</tr>
<tr>
<td>
<table id="suiteTable" class="selenium" border="1" cellpadding="1" cellspacing="1"><tbody>
<tr class="title status_passed"><td><b>Test Suite</b></td></tr>
<tr class="  status_passed"><td><a href="#testresult0">login</a></td></tr>
<tr class="  status_passed"><td><a href="#testresult1">search</a></td></tr>
<tr class="  status_passed"><td><a href="#testresult2">add_to_cart</a></td></tr>
<tr class="  status_passed"><td><a href="#testresult3">cart</a></td></tr>
<tr class="  status_passed"><td><a href="#testresult4">order</a></td></tr>
<tr class="  status_passed"><td><a href="#testresult5">logout</a></td></tr>
</tbody></table>


</td>
<td>&nbsp;</td>
</tr>
</table><table><tr>
<td><a name="testresult0">login.html</a><br/><div>
<table border="1" cellpadding="1" cellspacing="1">
<thead>
<tr class="title status_passed"><td rowspan="1" colspan="3">login</td></tr>
</thead><tbody>
<tr class="  status_done" style="cursor: pointer;">
	<td>open</td>
	<td>/</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>link=????????</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>type</td>
	<td>id=mainPetrovichLogin_login</td>
	<td>xigekuba@p33.org</td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>type</td>
	<td>id=mainPetrovichLogin_password</td>
	<td>111111</td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=div.form_row [type=submit]</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>waitForElementPresent</td>
	<td>link=test</td>
	<td></td>
</tr>
</tbody></table>


</div></td>
<td>&nbsp;</td>
</tr><tr>
<td><a name="testresult1">search.html</a><br/><div>
<table border="1" cellpadding="1" cellspacing="1">
<thead>
<tr class="title status_passed"><td rowspan="1" colspan="3">search</td></tr>
</thead><tbody>
<tr class="  status_done" style="cursor: pointer;">
	<td>type</td>
	<td>id=query</td>
	<td>?????????»???? ???????·????</td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>clickAndWait</td>
	<td>css=form#search [type=submit]</td>
	<td></td>
</tr>
</tbody></table>


</div></td>
<td>&nbsp;</td>
</tr><tr>
<td><a name="testresult2">add_to_cart.html</a><br/><div>
<table border="1" cellpadding="1" cellspacing="1">
<thead>
<tr class="title status_passed"><td rowspan="1" colspan="3">mid</td></tr>
</thead><tbody>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=div.stepper-arrow.up.unit--step</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=[data-product-code=101845]</td>
	<td></td>
</tr>
</tbody></table>


</div></td>
<td>&nbsp;</td>
</tr><tr>
<td><a name="testresult3">cart.html</a><br/><div>
<table border="1" cellpadding="1" cellspacing="1">
<thead>
<tr class="title status_passed"><td rowspan="1" colspan="3">cart</td></tr>
</thead><tbody>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=span.short__fixed</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>waitForElementPresent</td>
	<td>css=span.radio_input</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=input[value=self]</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>pause</td>
	<td>4000</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=button[ng-click='totalCtrl.goToOrdering()']</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>waitForText</td>
	<td>css=p.delivery_form_step_header</td>
	<td>?????±?µ???????µ ?±?°?·?? * ?????µ???? ???°?±??????: ????-???±: 8:00 ??? 21:00; ????: 9:00 ??? 18:00</td>
</tr>
</tbody></table>


</div></td>
<td>&nbsp;</td>
</tr><tr>
<td><a name="testresult4">order.html</a><br/><div>
<table border="1" cellpadding="1" cellspacing="1">
<thead>
<tr class="title status_passed"><td rowspan="1" colspan="3">order</td></tr>
</thead><tbody>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>name=base</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>name=delivery_pay</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>type</td>
	<td>css=[ng-model="orderingSelfCtrl.order.userEmail"]</td>
	<td>pavel.kuptcov@gmail.com</td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>type</td>
	<td>css=[ng-model="orderingSelfCtrl.order.userPhone"]</td>
	<td>+7 (111) 111-11-11</td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>type</td>
	<td>css=textarea[ng-model='orderingSelfCtrl.order.userComment']</td>
	<td>???µ????</td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=input[ng-click="orderingSelfCtrl.make($event)"]</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>waitForText</td>
	<td>css=p.thanks__big-text</td>
	<td>?????°?????±?? ?·?° ??????????????!</td>
</tr>
</tbody></table>


</div></td>
<td>&nbsp;</td>
</tr><tr>
<td><a name="testresult5">logout.html</a><br/><div>
<table border="1" cellpadding="1" cellspacing="1">
<thead>
<tr class="title status_passed"><td rowspan="1" colspan="3">logout</td></tr>
</thead><tbody>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>css=a.auth_user_link</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>click</td>
	<td>link=??????????</td>
	<td></td>
</tr>
<tr class="  status_done" style="cursor: pointer;">
	<td>waitForElementPresent</td>
	<td>link=????????</td>
	<td></td>
</tr>
</tbody></table>


</div></td>
<td>&nbsp;</td>
</tr></table><pre>
info: Starting test /selenium-server/tests/login.html
info: Executing: |open | / |  |
info: Executing: |click | link=???????? |  |
info: Executing: |type | id=mainPetrovichLogin_login | xigekuba@p33.org |
info: Executing: |type | id=mainPetrovichLogin_password | 111111 |
info: Executing: |click | css=div.form_row [type=submit] |  |
info: Executing: |waitForElementPresent | link=test |  |
info: Starting test /selenium-server/tests/search.html
info: Executing: |type | id=query | ?????????»???? ???????·???? |
info: Executing: |clickAndWait | css=form#search [type=submit] |  |
info: Starting test /selenium-server/tests/add_to_cart.html
info: Executing: |click | css=div.stepper-arrow.up.unit--step |  |
info: Executing: |click | css=[data-product-code=101845] |  |
info: Starting test /selenium-server/tests/cart.html
info: Executing: |click | css=span.short__fixed |  |
info: Executing: |waitForElementPresent | css=span.radio_input |  |
info: Executing: |pause | 4000 |  |
info: Executing: |click | css=input[value=self] |  |
info: Executing: |pause | 4000 |  |
info: Executing: |click | css=button[ng-click=&apos;totalCtrl.goToOrdering()&apos;] |  |
info: Executing: |waitForText | css=p.delivery_form_step_header | ?????±?µ???????µ ?±?°?·?? * ?????µ???? ???°?±??????: ????-???±: 8:00 ??? 21:00; ????: 9:00 ??? 18:00 |
info: Selenium 1.0 (Core, RC, etc) is no longer under active development. Please update to WebDriver ASAP
info: Starting test /selenium-server/tests/order.html
info: Executing: |click | name=base |  |
info: Executing: |click | name=delivery_pay |  |
info: Executing: |type | css=[ng-model=&quot;orderingSelfCtrl.order.userEmail&quot;] | pavel.kuptcov@gmail.com |
info: Executing: |type | css=[ng-model=&quot;orderingSelfCtrl.order.userPhone&quot;] | +7 (111) 111-11-11 |
info: Executing: |type | css=textarea[ng-model=&apos;orderingSelfCtrl.order.userComment&apos;] | ???µ???? |
info: Executing: |click | css=input[ng-click=&quot;orderingSelfCtrl.make($event)&quot;] |  |
info: Executing: |waitForText | css=p.thanks__big-text | ?????°?????±?? ?·?° ??????????????! |
info: Starting test /selenium-server/tests/logout.html
info: Executing: |click | css=a.auth_user_link |  |
info: Executing: |click | link=?????????? |  |
info: Executing: |waitForElementPresent | link=???????? |  |
info: Selenium 1.0 (Core, RC, etc) is no longer under active development. Please update to WebDriver ASAP
</pre></body></html>